*.md filter=git-crypt diff=git-crypt
*.canvas filter=git-crypt diff=git-crypt
*.base filter=git-crypt diff=git-crypt

**/*.canvas filter=git-crypt diff=git-crypt
**/*.md filter=git-crypt diff=git-crypt
**/*.base filter=git-crypt diff=git-crypt

.obsidian/** !filter !diff
.gitattributes !filter !diff
